.register{
    display: flex;
    font-family: cursive;
    padding: 30px 30px;
    border-radius: 10px;
}

body{
    background-image: linear-gradient(to right bottom, #ff9016, #ff7a6a, #ff7cac, #ea91db, #b5a6ef, #8db5ff, #59c3ff, #00cffc, #00e1f8, #00f0d7, #00fa9c, #46ff46);
}
h1{
    text-align: center;
    text-transform: uppercase;
}
table{
    background-image: linear-gradient(to right top, #5930cf, #006bef, #008de6, #00a5c8, #00b8ac, #26c29b, #53cb83, #7fd166, #a1d45e, #c0d759, #ded85a, #fbd95f);
}
input[type="submit"]:hover{
    background: rgb(82, 233, 12);
    transform: scale(1.1);
}
 input[type="reset"]:hover{
    background: #4b99d8;
    transform: scale(1.1);
} 

@media (max-width:720px){
    .register{
        display: flex;
        flex-direction: column;
    }
    table{
        width: auto;
    }
    body{
        background: no-repeat;
        background-image: linear-gradient(to right bottom, #ff9016, #ff7a6a, #ff7cac, #ea91db, #b5a6ef, #8db5ff, #59c3ff, #00cffc, #00e1f8, #00f0d7, #00fa9c, #46ff46);
    }
}
.container{
    border: 2px solid black;
}
